.spotlight {
    h2,
    p {
        margin-bottom: 5%;
    }

    p {
        width: 40%;
        line-height: 1.7rem;
    }
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .row1 {
        max-width: calc((100% / 2) - 1%);
        margin-bottom: 2%;

        img {
            height: 100%;
        }

    }
    .row2 {
        max-width: calc((100% / 3) - 1.5%);
        
        img {
            height: 90%;
            width: 100%;
        }
    }
}

.row1,
.row2 {
    position: relative;

    h3 {
        background-color: white;
        text-align: right;
        padding: 10px 15px;
        max-width: 40%;
        position: absolute;
        right: 0;
    
    }
}

.row1 {
    h3 {
        bottom: 2%;
    }
}

.row2 {
    h3 {
        bottom: 10%;
    }
}