// Changes in viewport size
@media (max-width: 900px) {
    // Header
    header {
        display: flex;
        justify-content: center;
    }
    nav {
        margin: 0;
        padding: 50px;
        z-index: 10;
        background-color: $white-shade;
        opacity: 97%;
        width: 100%;
        justify-content: center;
        position: fixed;
        transform: translateY(-200%);


        ul {
            flex-direction: column;
            width: 100%;
            height: 100vh;

            li {
                text-align: center;
                width: 100%;
                padding: 50px 100px;

                a {
                    width: 100%;
                    padding-left: 0px;
                }
            }
        }
    }
    
    .hamburger {
        visibility: visible;
    }
    // About
    div.about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 0%;

        .about-content,
        .image-overlay {
            width: 100%;
            margin-bottom: 10%;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .image-overlay {
        justify-content: flex-start;
        height: 100vh;

        .kitchen1 {
            right: 0;
        }
    
        .kitchen2 {
            z-index: -1;
        }
    }

    // Gallery
    .gallery {
        .row1,
        .row2 {
            max-width: 100%;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .row2 {
            img {
                margin-bottom: 2%;
            }
            h3 {
                bottom: 2%;
            }
        }
    }
}

@media (max-width: 825px) {
    // Contact section
    div.contact {
        p {
            width: 100%;

        }
    }

    form {
        max-width: 100%;

        button {
            width: 100%;
        }
    }

    .user-name,
    .user-email {
        width: 100%;
    }

    .user-email {
        margin-left: 0;
    }

    .user-name {
        margin-right: 0;
    }

    // Footer
    footer {
        flex-direction: column;

    }

    div.links {
        width: 100%;
        justify-content: left;
        flex-direction: column;

        div {
            margin-bottom: 0;

            ul {
                display: flex;
            
                li {
                padding-right: 20px;
                }   
            }
        }
    }

    .decorative-footer-line {
        margin-top: 2%;
    }
    
    .hidden {
        visibility: visible;
    }
}


@media (max-width: 725px) {
    div.about {
        a {
            width: 100%;
            text-align: center;
        }
    }

    // Gallery section
    .spotlight {
        p {
            width: 100%;
        }
        
    }
}

@media(max-width: 500px) {
    // Typography
    h1 {
        font-size: 1.3rem;
        margin: 110px 0 60px;
    }
    
    h2 {
        font-size: 1.2rem;
        position: relative;
    }
    
    h2::after {
        content: '';
        position: absolute;
        background-color: $accent;
        height: 2px;
        width: 50px;
        top: 140%;
        left: 0;
    }
    // Header
    .badge {
        height: 90px;
        width: 90px;
        top: -19%;
        left: 35%;
    }
    // Testimonials
    div.testimonial-content {
        width: 90%;
        height: 60vh;

        p:first-child {
            font-size: 1rem;
        }
        .headshot {
            height: 90px;
            width: 90px;

        }
    }
    .arrow {
        position: absolute;
        top: 105%;
        left: 70%;
    }
}