html {
    font-size: 125%;
    font-family: 'Open Sans', sans-serif;
    color: $black-shade;
}

h1,
h2,
h3,
h4,
button {
    font-weight: 600;
}

nav,
p,
.logo {
    font-weight: 400;
}

h1 {
    font-size: 2.1rem;
}

h2 {
    font-size: 1.6rem;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    background-color: $accent;
    height: 2px;
    width: 50px;
    top: 140%;
    left: 0;
}

h3,
a,
button {
    font-size: 0.8rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
}

.logo {
    font-size: 1.4rem;
}

.logo:hover,
.logo:focus {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: $black-shade;
}

h3,
.logo {
    text-transform: uppercase;
}