.full-image {
    height: 50vh;
    width: 100%;
    background-image: url(../Option1-assets/image9.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;

}