// Colour palette
$accent: #B18F39;
$white-shade: #F4F3F0;
$grey-shade: #9C9B89;
$black-shade: #000000;

@import "normalize";

@import "general-styles";

@import "typography";

@import "header";

@import "about-section-styles";

@import "gallery-section-styles";

@import "contact-section-styles";
// Testimonial

// Full image

@import "footer";

// Changes in viewport size