html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #F4F3F0;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section#about,
section#projects,
section#testimonial,
footer {
  margin: 7% 0%;
}

html {
  font-size: 125%;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
button {
  font-weight: 600;
}

nav,
p,
.logo,
a {
  font-weight: 400;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.6rem;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  background-color: #B18F39;
  height: 2px;
  width: 50px;
  top: 140%;
  left: 0;
}

h3,
a,
button {
  font-size: 0.8rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

.logo {
  font-size: 1.4rem;
}

.logo:hover,
.logo:focus {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #000000;
}

h3,
.logo {
  text-transform: uppercase;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3%;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li a {
  text-transform: uppercase;
  padding-left: 50px;
}
nav ul li a:hover,
nav ul li a:focus {
  text-decoration: underline;
}

.open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.stop-scroll {
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: 10% 20%;
}

.header-content-container .header-img {
  position: relative;
}

.badge {
  position: absolute;
  top: -10%;
  left: 43%;
}

header {
  position: relative;
}

.hamburger {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  z-index: 20;
  visibility: hidden;
  margin-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}
.hamburger .menu-text {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 8px 0;
}
.hamburger .bar {
  height: 2.2px;
  width: 100%;
  background-color: #000000;
}

div.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15%;
}
div.about .about-content,
div.about .image-overlay {
  width: 45%;
}
div.about a {
  text-transform: uppercase;
  background-color: #B18F39;
  color: #F4F3F0;
  border: 1px solid #B18F39;
  padding: 15px 35px;
}
div.about a:hover,
div.about a:focus {
  background-color: #F4F3F0;
  color: #B18F39;
}

.about-content h2 {
  margin-bottom: 10%;
}
.about-content p {
  line-height: 1.8rem;
  margin-bottom: 10%;
}

.image-overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.image-overlay img {
  position: absolute;
  width: 65%;
  height: auto;
}
.image-overlay .kitchen1 {
  top: 40%;
  right: 40%;
}
.image-overlay .kitchen2 {
  z-index: -1;
}

.spotlight h2,
.spotlight p {
  margin-bottom: 5%;
}
.spotlight p {
  width: 40%;
  line-height: 1.7rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .row1 {
  max-width: 49%;
  margin-bottom: 2%;
}
.gallery .row1 img {
  height: 100%;
}
.gallery .row2 {
  max-width: 31.8333333333%;
}
.gallery .row2 img {
  height: 90%;
  width: 100%;
}

.row1,
.row2 {
  position: relative;
}
.row1 h3,
.row2 h3 {
  background-color: white;
  text-align: right;
  padding: 10px 15px;
  max-width: 40%;
  position: absolute;
  right: 0;
}

.row1 h3 {
  bottom: 2%;
}

.row2 h3 {
  bottom: 10%;
}

#contact {
  background-image: url(../Option1-assets/image8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.contact {
  padding: 5% 0%;
}
div.contact h2,
div.contact p {
  margin-bottom: 5%;
}
div.contact p {
  width: 40%;
  line-height: 1.7rem;
}
div.contact button {
  text-transform: uppercase;
  background-color: #B18F39;
  border: 1px solid #B18F39;
  color: #F4F3F0;
  padding: 15px 35px;
  margin-top: 20px;
}
div.contact button:hover,
div.contact button:focus {
  background-color: #F4F3F0;
  color: #B18F39;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 70%;
}

.user-name,
.user-email,
.user-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#user-name,
#user-email,
#user-message {
  border: 1px solid #B18F39;
  line-height: 1.7rem;
}

.user-name {
  width: 39%;
  margin-right: 1%;
}

.user-email {
  width: 59%;
  margin-left: 1%;
}

.user-text {
  width: 100%;
}

textarea {
  resize: none;
}

label {
  margin: 10px 0;
}

div.testimonial-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 70%;
  border-left: 5px solid #B18F39;
  padding-left: 5%;
  margin-top: 7%;
}
div.testimonial-content p:first-child {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 0;
}
div.testimonial-content .headshot {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 5%;
}

.testimonial-title p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15%;
}
.testimonial-title p {
  margin: 5% 0;
}

.arrow {
  position: absolute;
  top: 80%;
  left: 90%;
}

.full-image {
  height: 50vh;
  width: 100%;
  background-image: url(../Option1-assets/image9.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7% 0;
}

address {
  width: 60%;
  padding-top: 1%;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
address p,
address a {
  line-height: 1.5rem;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10%;
}
.links div a {
  line-height: 2rem;
  text-decoration: underline;
}
.links div a:hover,
.links div a:focus {
  text-decoration: none;
}

.decorative-footer-line {
  background-color: #9C9B89;
  width: 100%;
  height: 1px;
}

.hidden {
  visibility: collapse;
}

.copyright {
  color: #9C9B89;
}
.copyright a {
  text-decoration: none;
  color: #9C9B89;
  font-size: 0.9rem;
}
.copyright a:hover, .copyright a:focus {
  color: #B18F39;
}

@media (max-width: 900px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  nav {
    margin: 0;
    padding: 50px;
    z-index: 10;
    background-color: #F4F3F0;
    opacity: 97%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  nav ul li {
    text-align: center;
    width: 100%;
    padding: 50px 100px;
  }
  nav ul li a {
    width: 100%;
    padding-left: 0px;
  }

  .hamburger {
    visibility: visible;
  }

  div.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0%;
  }
  div.about .about-content,
div.about .image-overlay {
    width: 100%;
    margin-bottom: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .image-overlay {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100vh;
  }
  .image-overlay .kitchen1 {
    right: 0;
  }
  .image-overlay .kitchen2 {
    z-index: -1;
  }

  .gallery .row1,
.gallery .row2 {
    max-width: 100%;
  }
  .gallery .row1 img,
.gallery .row2 img {
    display: block;
    width: 100%;
    height: auto;
  }
  .gallery .row2 img {
    margin-bottom: 2%;
  }
  .gallery .row2 h3 {
    bottom: 2%;
  }
}
@media (max-width: 825px) {
  div.contact p {
    width: 100%;
  }

  form {
    max-width: 100%;
  }
  form button {
    width: 100%;
  }

  .user-name,
.user-email {
    width: 100%;
  }

  .user-email {
    margin-left: 0;
  }

  .user-name {
    margin-right: 0;
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.links {
    width: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.links div {
    margin-bottom: 0;
  }
  div.links div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.links div ul li {
    padding-right: 20px;
  }

  .decorative-footer-line {
    margin-top: 2%;
  }

  .hidden {
    visibility: visible;
  }
}
@media (max-width: 725px) {
  div.about a {
    width: 100%;
    text-align: center;
  }

  .spotlight p {
    width: 100%;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.3rem;
    margin: 110px 0 60px;
  }

  h2 {
    font-size: 1.2rem;
    position: relative;
  }

  h2::after {
    content: "";
    position: absolute;
    background-color: #B18F39;
    height: 2px;
    width: 50px;
    top: 140%;
    left: 0;
  }

  .badge {
    height: 90px;
    width: 90px;
    top: -19%;
    left: 35%;
  }

  div.testimonial-content {
    width: 90%;
    height: 60vh;
  }
  div.testimonial-content p:first-child {
    font-size: 1rem;
  }
  div.testimonial-content .headshot {
    height: 90px;
    width: 90px;
  }

  .arrow {
    position: absolute;
    top: 105%;
    left: 70%;
  }
}